@using CSI402.Controllers

@{
    ViewData["Title"] = "Home Page";
    Layout = "_ProjectLayout";
}

@section Styles {
    <link rel="stylesheet" href="~/css/project-forms.css" />
}

<div class="text-center mb-5">
    <h1 class="display-4">Welcome To Project Layout CSI402L</h1>
    <p class="text-muted">นายคุณากร ขำเจริญ 66075070</p>
</div>


<!-- Quick Actions -->
<div class="container mt-4">
    <div class="row g-3">
        <div class="col-md-6">
            <a asp-controller="Project" asp-action="Login" class="btn btn-info w-100 btn-lg">
                <i class="fas fa-sign-in-alt"></i> เข้าสู่ระบบ
            </a>
        </div>
        <div class="col-md-6">
            <a asp-controller="Project" asp-action="Register" class="btn btn-outline-info w-100 btn-lg">
                <i class="fas fa-user-plus"></i> สมัครสมาชิก
            </a>
        </div>
    </div>
    <div class="mt-4">
        <h4>Login Users</h4>
        <table class="table table-bordered mt-3">
            <thead class="table-dark">
                <tr>
                    <th>Email</th>
                    <th>Password</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in ViewBag.LoginUsers)
                {
                    <tr>
                        <td>@user.Email</td>
                        <td>@user.Password</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="mt-4">
        <h4>Registered Users</h4>
        <table class="table table-bordered mt-3">
            <thead class="table-dark">
                <tr>
                    <th>Name</th>
                    <th>Lastname</th>
                    <th>Email</th>
                    <th>Phone</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in ViewBag.RegisterUsers)
                {
                    <tr>
                        <td>@user.Name</td>
                        <td>@user.Lastname</td>
                        <td>@user.Email</td>
                        <td>@user.PhoneNumber</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    
</div>