@{
    Layout = "_Layout";
}
@* @using CSI402.Models.Db
@model List<CSI402.Models.Db.LabStudent> *@
@model List<CSI402.ViewModels.Lab9User> //ViewModel 

<table class="table table-bordered">
    <thead>
        <tr>
            <th>UserId</th>
            <th>Password</th>
            <th>Name</th>
            <th>Lastname</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.UserId</td>
                <td>@item.Password</td>
                <td>@item.Name</td>
                <td>@item.Lastname</td>
                <td><a asp-route-UID="@item.UserId" asp-action="Lab10" asp-controller="Home">Edit</a>
                <a onclick="return confirm('คุณต้องการลบ @item.Name @item.Lastname หรือไม่')" asp-route-UID="@item.UserId" asp-action="Lab10D" asp-controller="Home">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
